@import url(//db.onlinewebfonts.com/c/c9f309b3d47969ecac64a77a6c672594?family=Nexa+Bold);

.App {
  text-align: center;
}

html, body {
  height: 100vh;
  width: 100%;
  background: url('./assets/background-image.jpg') no-repeat;
  background-attachment: fixed;
  background-size: cover;
  margin: 0;
}