.headshot {
  height: 550px;
  width: 500px;
  border-radius: 50px;
}

.about-blurb-container {
  background-color: #ffffff;
  width: 50%;
  padding: 2%;
  border-radius: 50px;
  margin: 2% 0 20% 22.5%;
}

.about-blurb{
  color: black;
  font-family: Nexa Bold;
  font-size: 15px;
  line-height: 25px;
}

.about-header {
  color: black;
  font-size: 30px;
  margin: 5px;
  font-family: Nexa Bold;
}